main {
  display: flex;

  width: 100%;
  height: calc(100vh - 60px);

  & > * {
    width: 50%;
  }

  @media (max-width: 450px) {
    flex-direction: column;

    & > * {
      width: 100%;
    }
  }
}