.form-section {
  position: relative;

  height: 100%;

  &__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &[data-theme=whatsapp-theme] {
    $themeColor: #43d854;
    color: $themeColor;

    .form__submit {
      background-color: $themeColor;
    }
  }
  &[data-theme=facebook-theme] {
    $themeColor: #3b5998;
    color: $themeColor;

    .form__submit {
      background-color: $themeColor;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 50px;

  border-radius: 10px;

  @media (max-width: 450px) {
    width: 80%;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__layer {
    display: flex;
    flex-direction: column;

    width: 100%;

    margin-top: 10px;
    padding: 5px;
  }

  &__label {
    font-weight: 600;
  }

  &__input {
    margin-top: 8px;
    padding: 2px 0;

    border-bottom: 1px solid #dcdcdc;

    &.valid-false {
      border-color: #e00000;
    }
  }

  &__submit {
    margin-top: 20px;
    padding: 10px 40px;

    color: #fff;

    cursor: pointer;
    
    &[disabled] {
      background-color: #7d7d7d !important; /* знаю, костыль */
    }
  }
}